.content{
    width: 70%;
    height: 1000px;
    font-size: 16px;
    padding-top: 20px;
}

.news{
    position: relative;
    left: 15%;
    height: $content-height;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    
    
    &__icon{
        color: blue;
        vertical-align: middle;
    }
    
    &__maintitle{
        position: relative;
        left: 12%;
        font-size: $news-maintitle;
        font-weight: bold;
        color: $dark-blue;
    }
    
    &__block{
        clear: both;
        display: block;
        width: 50%;
        height: auto;
        position: relative;
        left: 0%;
        top: 5%;
        padding: 5px;
    }
    
    &__currentnews{
        position: relative;
        left: 1%;
        top: 8%;
        display: block;
        float: left;
        width: 85%;
        height: auto;
        border-left: 1px solid black;
        padding-left: 10px;
    }
    
    &__news-title{
        position: relative;
        float: left;
        font-weight: bold;
        font-size: 18px;
        color: $dark-blue;
    }
    
    &__news-content{
        clear: both;
        position: relative;
        width: auto;
        text-align: left;
    }
    
    &__date{
        position: relative;
        float: left;
        margin-right: 10px;
        font-size: 12px;
        top: 3px;
        
        &__top{
            font-size: 20px;
            font-weight: bold;
        }
        
        &__bottom{
            position: absolute;
            left: 15%;
            font-size: 20px;
            font-weight: bold;
            color: blue;
        }
    }
}

.sidebar{
    position: relative;
    height: $content-height;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    
    &__stop{
        width: 100%;
        height: auto;
        padding-bottom: 60px;
    }
    
    &__sbottom{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        
        a{
            color: blue;
            font-weight: bold;
        }
    }
    
    &__title1{
        position: relative;
        font-weight: bold;
        color: $dark-blue;
        font-size: $news-maintitle;
        right: 8%;
    }
    
    &__title2{
        position: relative;
        font-weight: bold;
        color: $dark-blue;
        font-size: $news-maintitle;
        right: 8%;
    }

    &__icon{
        color: blue;
        float: left;
        position: relative;
        padding-right: 5px;
        font-size: 10px;
        vertical-align: middle;
    }
    
    &__top-car-hr,
    &__bottom-car-hr{
        position: relative;
        right: 28.5%;
        width: 75%;
        border: none;
        height: 1px;
        background-color: black;
    }
    
    &__top-car-hr{ bottom: 2%; }
    
    &__bottom-car-hr{ bottom: 4%; }
    
    &__car-date{
        position: relative;
        right: 8%;
        bottom: 3%;
    }
    
    &__car{
        position: relative;
        right: 15%;
        bottom: 5%;
        
        .col-md-4{
            font-weight: bold;
            font-size: 14px;
        }
        
        &__size1{
            width: 23.5%;
        }
        
        &__size2{
            width: 29%;
        }
    }
    
    &__car-numbers{
        position: relative;
        right: 8%;
        bottom: 3%;
        color: blue;
        font-weight: bold;
        font-size: 20px;
        
        &__size1{
            width: 24.5%;
        }

        &__size2{
            width: 28%;
        }
    }
    
    &__btn-taux{
        position: relative;
        right: 7%;
    }
}

.territoire{
    position: relative;
    left: 23%;
    padding-top: 15px;
}