/*
=================================================
                    Variables
=================================================*/

$header-height:        150px;
$text-size:            14px;

/*
=================================================
                    ICONS
=================================================*/

$fb_icon: "../images/fb-icon.png";