/*
=================================================
                    Variables
=================================================*/

$header-height:        150px;
$text-size:            14px;


$bg-nav:               black;
$bg-navlink:           "../images/bg-nav.jpg";
$bg-footer:            black;
$link-nav:             white;

$content-height:       550px;
$text-white:           white;
$news-maintitle:       24px;


/*
=================================================
                    ICONS
=================================================*/

$fb_icon:              "../images/fb-icon.png";


/*
=================================================
                    Colors
=================================================*/

$dark-blue:            #0B4C5F;
$snow:                 #FFFAFA;