/*
=================================================
                    Variables
=================================================*/

$header-height:        150px;
$text-size:            14px;


$bg-nav:               black;
$bg-navlink:           "../images/bg-nav.jpg";
$link-nav:             white;

/*
=================================================
                    ICONS
=================================================*/

$fb_icon: "../images/fb-icon.png";