/*
=================================================
                    Variables
=================================================*/
/*
=================================================
                    ICONS
=================================================*/
/*
=================================================
                    Colors
=================================================*/
.header {
  width: 100%;
  height: 150px;
   /* &__social-icon{
        position: relative;
        display: block;
        bottom: 82%;
        left: 70%;
        width: 120px;
        height: 70px;

        &__fb{
            position: relative;
            left: 50px;
            display: block;
            background: url(../images/fb-icon.png) no-repeat;
            height: 100px;
        }

        h1{
            width: 130px;
            font-size: $text-size;
            text-align: center;
            font-weight: bold;
        }
    }*/ }
  .header__logo {
    width: 100%;
    height: inherit; }
  .header__logoimg {
    position: absolute;
    left: 25%;
    top: 3.5%;
    display: inline-block;
    vertical-align: middle; }
  .header__social-icon {
    position: absolute;
    display: block;
    bottom: 90%;
    left: 70%;
    width: 120px;
    height: 70px; }
    .header__social-icon__fb {
      position: relative;
      left: 50px;
      display: block;
      background: url(../images/fb-icon.png) no-repeat;
      height: 100px; }
    .header__social-icon h1 {
      width: 130px;
      font-size: 14px;
      text-align: center;
      font-weight: bold; }

.nav li a {
  color: white !important; }
.nav li a:hover {
  background-color: blue  !important; }

.navbar {
  width: auto;
  background: url(../images/bg-nav.jpg) repeat-x;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: -1px;
  padding: 0; }

/*.nav-center{
    position: absolute;
    left: 25%;
}*/
.nav-center {
  position: absolute;
  left: 30%; }

.navbar-nav li {
  margin-left: 30px;
  margin-right: 30px; }

/*Permet de collaps le menu lorsque la taille est moins de max-width*/
@media (max-width: 1499px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  .nav-center {
    position: relative;
    left: 25; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
.slider {
  width: auto;
  height: 420px;
  padding: 0px;
  margin: 0px; }
  .slider__img {
    width: 1921px;
    height: inherit;
    position: relative;
    bottom: 1px; }

.content {
  width: 70%;
  height: 1000px;
  font-size: 16px;
  padding-top: 20px; }

.news {
  position: relative;
  left: 15%;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px; }
  .news__icon {
    color: blue;
    vertical-align: middle; }
  .news__maintitle {
    position: relative;
    left: 12%;
    font-size: 24px;
    font-weight: bold;
    color: #0B4C5F; }
  .news__block {
    clear: both;
    display: block;
    width: 50%;
    height: auto;
    position: relative;
    left: 0%;
    top: 5%;
    padding: 5px; }
  .news__currentnews {
    position: relative;
    left: 1%;
    top: 8%;
    display: block;
    float: left;
    width: 85%;
    height: auto;
    border-left: 1px solid black;
    padding-left: 10px; }
  .news__news-title {
    position: relative;
    float: left;
    font-weight: bold;
    font-size: 18px;
    color: #0B4C5F; }
  .news__news-content {
    clear: both;
    position: relative;
    width: auto;
    text-align: left; }
  .news__date {
    position: relative;
    float: left;
    margin-right: 10px;
    font-size: 12px;
    top: 3px; }
    .news__date__top {
      font-size: 20px;
      font-weight: bold; }
    .news__date__bottom {
      position: absolute;
      left: 15%;
      font-size: 20px;
      font-weight: bold;
      color: blue; }

.sidebar {
  position: relative;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px; }
  .sidebar__stop {
    width: 100%;
    height: auto;
    padding-bottom: 60px; }
  .sidebar__sbottom {
    width: 100%;
    height: auto;
    padding-bottom: 40px; }
    .sidebar__sbottom a {
      color: blue;
      font-weight: bold; }
  .sidebar__title1 {
    position: relative;
    font-weight: bold;
    color: #0B4C5F;
    font-size: 24px;
    right: 8%; }
  .sidebar__title2 {
    position: relative;
    font-weight: bold;
    color: #0B4C5F;
    font-size: 24px;
    right: 8%; }
  .sidebar__icon {
    color: blue;
    float: left;
    position: relative;
    padding-right: 5px;
    font-size: 10px;
    vertical-align: middle; }
  .sidebar__top-car-hr, .sidebar__bottom-car-hr {
    position: relative;
    right: 28.5%;
    width: 75%;
    border: none;
    height: 1px;
    background-color: black; }
  .sidebar__top-car-hr {
    bottom: 2%; }
  .sidebar__bottom-car-hr {
    bottom: 4%; }
  .sidebar__car-date {
    position: relative;
    right: 8%;
    bottom: 3%; }
  .sidebar__car {
    position: relative;
    right: 15%;
    bottom: 5%; }
    .sidebar__car .col-md-4 {
      font-weight: bold;
      font-size: 14px; }
    .sidebar__car__size1 {
      width: 23.5%; }
    .sidebar__car__size2 {
      width: 29%; }
  .sidebar__car-numbers {
    position: relative;
    right: 8%;
    bottom: 3%;
    color: blue;
    font-weight: bold;
    font-size: 20px; }
    .sidebar__car-numbers__size1 {
      width: 24.5%; }
    .sidebar__car-numbers__size2 {
      width: 28%; }
  .sidebar__btn-taux {
    position: relative;
    right: 7%; }

.territoire {
  position: relative;
  left: 23%;
  padding-top: 15px; }

.footer {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: black; }
  .footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    font-size: 14px;
    color: white;
    text-align: center;
    margin: auto;
    transform: translate(-50%, -50%); }

.btn-outline {
  background: none;
  padding: 12px 22px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 4px;
  display: block;
  width: 225px; }

.btn-primary-outline {
  border: 2px solid blue;
  color: #0099cc; }

.btn-primary-outline:hover, .btn-primary-outline:focus, .btn-primary-outline:active, .btn-primary-outline.active, .open > .dropdown-toggle.btn-primary {
  color: white;
  background: blue;
  border-color: blue; }

.btn-primary-outline:active, .btn-primary-outline.active {
  border-color: #007299;
  color: white;
  box-shadow: none; }

html, body {
  width: auto !important;
  margin: 0px !important;
  padding: 0px !important; }

/*# sourceMappingURL=style.css.map */
