@import "variable";


.header{
    width: 100%;
    height: $header-height;
    
    &__logo{
        width: 100%;
        height: inherit;
    }
    
    &__logoimg{
        position: absolute;
        left: 25%;
        top: 3.5%;
        display: inline-block;
        vertical-align: middle;
    }
    
    &__social-icon{
        position: relative;
        display: block;
        bottom: 85%;
        left: 70%;
        width: 120px;
        height: 70px;
        
        &__fb{
            position: relative;
            left: 50px;
            display: block;
            background: url(#{$fb_icon}) no-repeat;
            height: 100px;
        }
        
        h1{
            width: 130px;
            font-size: $text-size;
            text-align: center;
            font-weight: bold;
        }
    }
    
    
}